.navigation-container {
    max-width: 4000px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid orange;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.result {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    color: deeppink;
}

.label {
    color: chartreuse;
    font-weight: bold;
}

